
/////////////////////////////////////////////////////////////////////////
// _variables-global.scss - SHARED
/////////////////////////////////////////////////////////////////////////
//
// - Framework
// - Z-Index
// - Font familys
// - Media queries
// - Paths 
//
//
/////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// COLORS  
/////////////////////////////////////////////////////////////////////////

$black:			#2b2727 !default;
$white:			#fff !default;

// BLUE
$blue-lm:		#a5b6c1 !default;
$blue-lom:		#c6c9cc !default;
$blue-dm:		#394042 !default;
$blue-dom:		#303131 !default;

// TURQOUSIE
$turq-lm:		#adc2bf !default;
$turq-lom:		#c4cccb !default;
$turq-dm:		#3c4344 !default;
$turq-dom:		#303232 !default;

// GREEN
$green-lm:		#b5c1b8 !default;
$green-lom:		#c5ccc5 !default;
$green-dm:		#424742 !default;
$green-dom:		#343734 !default;

// BEIGE
$beige-lm:		#c1beaf !default;
$beige-lom:		#cbcac4 !default;
$beige-dm:		#464641 !default;
$beige-dom:		#353532 !default;



/////////////////////////////////////////////////////////////////////////
// FRAMEWORK - CORE COLORS   
/////////////////////////////////////////////////////////////////////////

// !! DONT CHANGE THE VARIABLE NAME FOR "fm-main-x"
// All components / modules / sections is dependet on them!
// DO ->$main-1: $red-1!default;

// Framework core colors

$main-1:		#1a1a1a !default;
$main-2:		#ffffff !default;

$fm-primary-1:		#1a1a1a !default;
$fm-primary-2:		#ffffff !default;

$fm-secondary-1:	#1a1a1a !default;
$fm-secondary-2:	#ffffff !default;
$fm-secondary-3:	#1a1a1a !default;
$fm-secondary-4:	#ffffff !default;

$demo-1:			#fff !default;
$demo-2:			#eee !default;
$demo-3:			#ddd !default;
$demo-4:			#ccc !default;


/////////////////////////////////////////////////////////////////////////
// SISTER  
/////////////////////////////////////////////////////////////////////////

$sister-1:		#00793b !default;
$sister-2:		#ea6223 !default;
$sister-3:		#0183b3 !default;


/////////////////////////////////////////////////////////////////////////
// CROSS-SITE  THEMING
/////////////////////////////////////////////////////////////////////////

$blog-dark: #00793b;
$blog-light: #e5efea;

$rw-dark: #ea6223;
$rw-light: #faeee7;

$mw-dark: #0183b3;
$mw-light: #eef5f7;

$default-dark: #0183b3;
$default-light: #eef5f7;

/////////////////////////////////////////////////////////////////////////
// Z-index
/////////////////////////////////////////////////////////////////////////

// _page_header.scss .scaffold-wrapper.header
$header-wrapper-z: 6;

// index.scss .editorial-pod .backdrop
$ep-backdrop-z: 0;

// index.scss .overlay .litebox
$overlay-litebox-z: 10001;

// index.scss .overlay .backdrop
$overlay-backdrop-z: 100;

// _breadcrumbs/ .breadcrumbs .root
$breadcrumbs-root-z: 500;

// _breadcrumbs/ .breadcrumbs .border
$breadcrumbs-border-z: 4;

// _breadcrumbs/ .breadcrumbs ul
$breadcrumbs-list-z: 1;



/////////////////////////////////////////////////////////////////////////
// Media queries (Need to uppadated in all places!!)
/////////////////////////////////////////////////////////////////////////

// Wide layout
$media-1460: 1460px; 

// Tablet - Landscape
$media-1024: 1024px; 

// Tablet - Portrait
$media-768: 1000px;

// Mobile - Landscape
$media-480: 767px;

// Mobile - Portrait
$media-320: 479px;



/////////////////////////////////////////////////////////////////////////
// Font familys
/////////////////////////////////////////////////////////////////////////

// Gunplay
$font-1: "gunplay", Arial, sans-serif;

// Cantarell
$font-2: "cantarell", Arial, sans-serif;



/////////////////////////////////////////////////////////////////////////
// Paths for catalogs (For cross reference)
/////////////////////////////////////////////////////////////////////////

// Image paths: 
$imagepath-shared: "/Templates/Shared/Images/";
$imagepath-recruitment: "/Templates/Recruitment/Images/";
$imagepath-corporate: "/Templates/Corporate/Images/";
$imagepath-gmu: "/Templates/Recruitment/Images/";


// Ex.
// background: url('#{$imagepath-shared}imagename.jpg') no-repeat;
// background: url('#{$imagepath-recruitment}imagename.jpg') no-repeat;
// background: url('#{$imagepath-gmu}imagename.jpg') no-repeat;
// background: url('#{$imagepath-corporate}imagename.jpg') no-repeat;



