/////////////////////////////////////////////////////////////////////////////////////////////////////////

/* ICONS */ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - - Font imports
// - - Icon base
// - - The icons
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////


@include VP320{


/////////////////////////////////////////////////////////////////////////////////////////////////////////
// FONT IMPORTS
/////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
	font-family: 'icons-all';
	src:url('fonts/icons-all.eot?yesxka');
	src:url('fonts/icons-all.eot?#iefixyesxka') format('embedded-opentype'),
		url('fonts/icons-all.woff?yesxka') format('woff'),
		url('fonts/icons-all.ttf?yesxka') format('truetype'),
		url('fonts/icons-all.svg?yesxka#icons-all') format('svg');
	font-weight: normal;
	font-style: normal;
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////
// ICON BASE
/////////////////////////////////////////////////////////////////////////////////////////////////////////



[class^="icon-"], 
[class*=" icon-"],
[class*=" icon-after"]:after,
[class*=" icon-before"]:before,
a.video,
a.pdf{
	font-family: 'icons-all';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	// display:inline-block;
	// margin-right:0.35em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////
// THE ICONS
/////////////////////////////////////////////////////////////////////////////////////////////////////////

.icon-leaf:before {
	content: "\e601";
}
.icon-statistics:before {
	content: "\e602";
}
.icon-info3:before {
	content: "\e60b";
}
.icon-info2:before {
	content: "\e60a";
}
.icon-question:before {
	content: "\e60c";
}
.icon-help:before {
	content: "\e608";
}
.icon-warning:before {
	content: "\e609";
}
.icon-power:before {
	content: "\e603";
}
.icon-meter:before {
	content: "\e604";
}
.icon-menu:before {
	content: "\e605";
}
.icon-envelope:before {
	content: "\e606";
}
.icon-bargraph:before {
	content: "\e60d";
}
.icon-avtar:before {
	content: "\e60e";
}
.icon-arrowthinup:before {
	content: "\e60f";
}
.icon-arrowthindown:before {
	content: "\e610";
}
.icon-eon:before {
	content: "\e600";
}
.icon-circle:before {
	content: "\e666";
}
.icon-breadcrumb-arrow:before {
	content: "\e66e";
}
.icon-arrow-right:before {
	content: "\e668";
}
.icon-arrow-down:before {
	content: "\e669";
}
.icon-arrow-left:before {
	content: "\e66a";
}
.icon-arrow-up:before {
	content: "\e66b";
}
.icon-videocontent:before {
	content: "\e607";
}
.icon-stream:before {
	content: "\e614";
}
.icon-search:before {
	content: "\e61f";
}
.icon-play:before {
	content: "\e62b";
}
.icon-phone:before {
	content: "\e62c";
}
.icon-menu2:before {
	content: "\e639";
}
.icon-map:before {
	content: "\e63a";
}
.icon-internet:before {
	content: "\e63f";
}
.icon-favourits:before {
	content: "\e646";
}
.icon-delete:before {
	content: "\e651";
}
.icon-contact:before {
	content: "\e65a";
}
.icon-camera:before {
	content: "\e65d";
}
.icon-alert:before {
	content: "\e663";
}
.icon-add:before {
	content: "\e665";
}
.icon-info:before {
	content: "\e640";
}
.icon-youtube:before {
	content: "\e66c";
}
.icon-facebook:before {
	content: "\e002";
}
.icon-thick:before {
	content: "\e005";
}
.icon-comment:before {
	content: "\e016";
}
.icon-twitter:before {
	content: "\e001";
}



} // VP320 END
