/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
TEMPLATE
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - MOBILE AND TOUCH FIRST
// - - HOVER?
// - MOBILE WIDE
// - PHABLET
// - TABLET
// - LAPTOP
// - TV
//
// - - MS Internet explorer
// - - NO JavaScript
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// CLASS NAME
$className: eon-block-placeholder;

.#{$className}{

////////////////////////////////////////////////////////////////
// VP320 - MOBILE AND TOUCH FIRST
////////////////////////////////////////////////////////////////

@include VP320 {
	
//////// Base styles 

	display:table; 
	width:100%;
	overflow:hidden;

	> div{
		display:table-cell;
		vertical-align:middle;
		text-align:center;
		background:$red-3;
		//border:1px dashed darken($pink-c,8%);
		height:240px;
		width:100%;

	}

		&:before {

			font-family: 'eon-icons-all';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			display:block;
			
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

// close button

	.btn-close{
		position:absolute;
		right:0;
		top:0;
		padding:5px;

		&:before{
			content: "\e651";
			font-size:32px;
			color:#333;
		}
		
		&:hover{
			&:before{
				color:$red-3;
			}
		}

	}

	header{
		line-height:1.256;
		font-size:14px;
		font-family:$font-3;
		text-transform:uppercase;
		color:$black;
		text-align:center;
		margin:0;
		width:auto;
		display:inline-block;
		position:relative;
		z-index:0;


		span{
			font-size:14px;
			padding-bottom:8px;
			color:$white;
			display:block;
			font-family:$font-1;

				&[class*="eon-icon-"]{
					font-size:80px;
				}

		}

		/* &:before {

	
			content: "\e600";
			color:rgba(255,255,255,.24);
			font-size:360px;
			display:block;
			position:absolute;
			z-index:-1;
			top:50%;
			left:50%;
			margin:-180px 0 0 -180px;

		} */

	} // header END


//////// Sizes

	&.size-xlarge {

		> div {
			height:400px;
		}
	}

	&.size-large {

		> div {
			height:300px;
		}
	}

	&.size-small {

		> div {
			height:100px;
		}

	}

	&.size-xsmall {

		> div {
			height:60px;


		}
	}

//////// Color

		&.color-light-red {
			> div {
				background:$red-1;
				//border:1px solid #eee;
				
			} 
			header {
				color:$red-3;
				
				span{
					color:$white;
				}
				&:before {
					
				}
			} 
		}

		&.color-white {
			> div {
				background:$white;
				border:1px solid #eee;
				
			} 
			header {
				color:$red-2;
				
				span{
					color:$gray-4;
				}
				&:before {
					color:rgba(0,0,0,.06);
				}
			} 
		}
        
		&.color-gray {
			> div {
				background:$gray-1;
				//border:1px solid #eee;
				
			} 
			header {
				color:$red-2;
				
				span{
					color:$white;
				}
				&:before {
					
				}
			} 
		} 
	
		&.color-dark-gray {
			> div {
				background:$gray-4;
				//border:1px solid #eee;
				
			} 
			header {
				color:$red-2;
				
				span{
					color:$white;
					
				}
				&:before {
					color:rgba(255,255,255,.10);
				}
			} 
		} 

		&.color-black {
			> div {
				background:$black;
				
				border-bottom:1px solid #333;
					
			} 
			header {
				color:$red-3;
				
				span{
					color:$white;
				}

				&:before {
					color:rgba(255,255,255,.10);
				}
			} 
		} 
		
	
} // VP320 END


// Place in bottom, hover in specific breakpoints??
////////////////////////////////////////////////////////////////
// NO-TOUCH
////////////////////////////////////////////////////////////////

@include hover {
	
	
		.hover &{
			
				a:hover{
					include: hover;
				}

		}

	
} // hover END


////////////////////////////////////////////////////////////////
// VP480
////////////////////////////////////////////////////////////////

@include VP480 {
	
	@include media-min($bp-480) {
		include: VP480;

	} // media-min END	

} // VP480 END


////////////////////////////////////////////////////////////////
// VP600
////////////////////////////////////////////////////////////////

@include VP600 {
	
	@include media-min($bp-600) {

		include: VP600;

	} // media-min END	
	
} // VP600 END


////////////////////////////////////////////////////////////////
// VP768
////////////////////////////////////////////////////////////////

@include VP768 {
	
	@include media-min($bp-768) {
	
		include: VP768;

	} // media-min END		

} // VP768 END


////////////////////////////////////////////////////////////////
// VP1024
////////////////////////////////////////////////////////////////

@include VP1024{
	
	@include media-min($bp-1024) {
	
		include: VP1024;

	} // media-min END	
	
} // VP1024 END


////////////////////////////////////////////////////////////////
// VP1366
////////////////////////////////////////////////////////////////

@include VP1366 {
	
	@include media-min($bp-1366) {
	
		include: VP1366;

	} // media-min END	
	
} // VP1366 END




////////////////////////////////////////////////////////////////
// MSIE - INTERNET EXPLORER
////////////////////////////////////////////////////////////////

@include msie {
	
		.ie &{
			
		}

		.ie8 &{
			
		}

		.ie9 &{
			
		}

} // msie END


////////////////////////////////////////////////////////////////
// NO-JAVASCRIPT
////////////////////////////////////////////////////////////////

@include no-js {
	
	.no-js &{
		
	}

} // no-js END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// END

} // END














