/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
EON Content - Text and images
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - MOBILE AND TOUCH FIRST
// - - HOVER?
// - MOBILE WIDE
// - PHABLET
// - TABLET
// - LAPTOP
// - TV
//
// - - MS Internet explorer
// - - NO JavaScript
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// CLASS NAME
$className: eon-s-content;


.#{$className}{

////////////////////////////////////////////////////////////////
// VP320 - MOBILE AND TOUCH FIRST
////////////////////////////////////////////////////////////////

@include VP320 {
	
	margin-bottom:35px;
	color:#666;

	.header{
		font-size: 36px;
		margin-bottom: 20px;
		color:#767676;
		font-family: $font-4;

		&.center{
			text-align: center;
		}
	}

	.preamble{
		font-size: 24px;
		margin-bottom: 35px;
	
		color: #bcbcbc;
		text-align: center;
		font-style: italic;
	}

	img{
		width:100%;
		height: auto;
		margin-bottom: 1em;
	}
	
		
	
} // VP320 END


// Place in bottom, hover in specific breakpoints??
////////////////////////////////////////////////////////////////
// NO-TOUCH
////////////////////////////////////////////////////////////////

@include hover {
	
	
		.hover &{
			
				a:hover{
					include: hover;
				}

		}

	
} // hover END


////////////////////////////////////////////////////////////////
// VP480
////////////////////////////////////////////////////////////////

@include VP480 {
	
	

	@include media-min($bp-480) {
		include: VP480;

	} // media-min END	

} // VP480 END


////////////////////////////////////////////////////////////////
// VP768
////////////////////////////////////////////////////////////////

@include VP768 {
	
	@include media-min($bp-768) {
	
		margin-bottom:55px;

		.header{
			margin-bottom: 30px
		}

		.preamble{
			margin-bottom: 55px;
				margin-top: -15px;
		
		}

	} // media-min END		

} // VP768 END


////////////////////////////////////////////////////////////////
// VP1024
////////////////////////////////////////////////////////////////

@include VP1024{
	
	@include media-min($bp-1024) {
	
		margin-bottom:65px;

		.header{
			margin-bottom: 40px
		}

		.preamble{
			margin-bottom: 65px;
		
		}

	} // media-min END	
	
} // VP1024 END


////////////////////////////////////////////////////////////////
// VP1366
////////////////////////////////////////////////////////////////

@include VP1366 {
	
	@include media-min($bp-1366) {
	
		include: VP1366;

	} // media-min END	
	
} // VP1366 END




////////////////////////////////////////////////////////////////
// MSIE - INTERNET EXPLORER
////////////////////////////////////////////////////////////////

@include msie {
	
		.ie &{
		
		}

		.ie8 &{

		}

		.ie9 &{
			
		}

	
} // msie END


////////////////////////////////////////////////////////////////
// NO-JAVASCRIPT
////////////////////////////////////////////////////////////////

@include no-js {
	
	.no-js &{
		
	}

} // no-js END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// END

} // END














