
$mobileAndTouch-first: 		true;	//  Default 	(content 300px)
$mobileWide: 				true;	//  min 480px   (content 460px)
$phablet: 					true; //  min 768px	(content 748px)
$tablet: 					true; //  min 940px	(content 940px)

/* 

   ***********************************************************
   MSIE - (core-msie.scss)
   *********************************************************** 

*/

@import '_import';


