/* Small */
/*
CORE - SASS IMPORTS
*/
[class^="mo-"] {
  /*
NORMALIZE
*/
  /* html {
       font-family:$font-b;
        -webkit-text-size-adjust: 100%;   // 2
        -ms-text-size-adjust: 100%;       // 3

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    }

    // Remove default margin.
    body {
        margin: 0;
        padding:0;
        color:red !important;

    } */ }
  [class^="mo-"] article, [class^="mo-"] aside, [class^="mo-"] details, [class^="mo-"] figcaption, [class^="mo-"] figure, [class^="mo-"] footer, [class^="mo-"] header, [class^="mo-"] hgroup, [class^="mo-"] nav, [class^="mo-"] section, [class^="mo-"] summary {
    display: block; }
  [class^="mo-"] audio, [class^="mo-"] canvas, [class^="mo-"] video {
    display: inline-block; }
  [class^="mo-"] audio:not([controls]) {
    display: none;
    height: 0; }
  [class^="mo-"] [hidden] {
    display: none; }
  [class^="mo-"] a:focus {
    outline: thin dotted; }
  [class^="mo-"] a:active, [class^="mo-"] a:hover {
    outline: 0; }
  [class^="mo-"] abbr[title] {
    border-bottom: 1px dotted; }
  [class^="mo-"] b, [class^="mo-"] strong {
    font-weight: bold; }
  [class^="mo-"] dfn {
    font-style: italic; }
  [class^="mo-"] mark {
    background: #ff0;
    color: #000; }
  [class^="mo-"] code, [class^="mo-"] kbd, [class^="mo-"] pre, [class^="mo-"] samp {
    font-family: monospace, serif;
    font-size: 1em; }
  [class^="mo-"] pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }
  [class^="mo-"] q {
    quotes: "\201C" "\201D" "\2018" "\2019"; }
  [class^="mo-"] small {
    font-size: 80%; }
  [class^="mo-"] sub, [class^="mo-"] sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  [class^="mo-"] sup {
    top: -0.5em; }
  [class^="mo-"] sub {
    bottom: -0.25em; }
  [class^="mo-"] img {
    border: 0; }
  [class^="mo-"] svg:not(:root) {
    overflow: hidden; }
  [class^="mo-"] figure {
    margin: 0; }
  [class^="mo-"] fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  [class^="mo-"] legend {
    border: 0;
    padding: 0; }
  [class^="mo-"] button, [class^="mo-"] input, [class^="mo-"] select, [class^="mo-"] textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0; }
  [class^="mo-"] button, [class^="mo-"] input {
    line-height: normal; }
  [class^="mo-"] button, [class^="mo-"] html input[type="button"], [class^="mo-"] input[type="reset"], [class^="mo-"] input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; }
  [class^="mo-"] button[disabled], [class^="mo-"] html input[disabled] {
    cursor: default; }
  [class^="mo-"] input[type="checkbox"], [class^="mo-"] input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  [class^="mo-"] input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  [class^="mo-"] input[type="search"]::-webkit-search-cancel-button, [class^="mo-"] input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  [class^="mo-"] button::-moz-focus-inner, [class^="mo-"] input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  [class^="mo-"] textarea {
    overflow: auto;
    vertical-align: top; }
  [class^="mo-"] table {
    border-collapse: collapse;
    border-spacing: 0; }
  [class^="mo-"] *, [class^="mo-"] *:before, [class^="mo-"] *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/*
TYPOGRAPHY
*/
[class^="mo-"] {
  font-size: 14px;
  font-family: "Akkurat", Arial, sans-serif;
  line-height: 1.56;
  color: #2b2727;
  -webkit-font-smoothing: subpixel-antialiased; }
  [class^="mo-"] h1, [class^="mo-"] h2, [class^="mo-"] h3, [class^="mo-"] h4, [class^="mo-"] h5, [class^="mo-"] h6 {
    margin: 0 0 0.65em;
    color: #2b2727;
    word-break: break-word; }
  [class^="mo-"] h1, [class^="mo-"] h2, [class^="mo-"] h3 {
    font-family: "TradeGothic", Arial, sans-serif;
    text-transform: uppercase; }
  [class^="mo-"] h4, [class^="mo-"] h5, [class^="mo-"] h6 {
    font-family: "Akkurat", Arial, sans-serif;
    text-transform: none;
    font-weight: bold; }
  [class^="mo-"] h1 {
    font-size: 5em;
    line-height: 1.1; }
  [class^="mo-"] h2 {
    font-size: 3.33em;
    line-height: 1.1667; }
  [class^="mo-"] h3 {
    font-size: 1.667em;
    line-height: 1.1667; }
  [class^="mo-"] h4 {
    font-size: 1em;
    line-height: 1.22; }
  [class^="mo-"] h5 {
    font-size: 0.88em;
    line-height: 1.22; }
  [class^="mo-"] h6 {
    font-size: 0.7778em;
    line-height: 1.22; }
  [class^="mo-"] .preamble {
    font-family: "Akkurat", Arial, sans-serif;
    color: red;
    font-size: 1.38889em;
    line-height: 1.4; }
  [class^="mo-"] p {
    font-size: 1em;
    line-height: 1.56;
    margin: 0 0 1.5em; }
  [class^="mo-"] i, [class^="mo-"] em {
    font-style: italic; }
  [class^="mo-"] strong {
    font-weight: bold; }
  [class^="mo-"] blockquote {
    margin: 0 0 1.3em;
    padding: 0 0 0 1.3em;
    position: relative;
    font-family: "TradeGothic", Arial, sans-serif;
    line-height: 1.256;
    text-transform: uppercase;
    font-size: 1.667rem; }
    [class^="mo-"] blockquote:before {
      content: ' ';
      position: absolute;
      top: 1px;
      left: 0;
      width: 8px;
      background: #0046f3;
      height: 98%; }
  @media screen and (min-width: 600px) {
    [class^="mo-"] {
      font-size: 16px; } }
  @media screen and (min-width: 768px) {
    [class^="mo-"] {
      font-size: 18px; } }

/*
BUTTONS & LINKS
*/
[class^="mo-"] a {
  color: #0183b3;
  text-decoration: underline;
  position: relative;
  outline: none !important; }
  [class^="mo-"] a:hover {
    text-decoration: underline;
    color: #0183b3; }
  [class^="mo-"] a:active {
    color: #0183b3; }
  [class^="mo-"] a:focus {
    color: #0183b3; }
  [class^="mo-"] a.-bold {
    font-weight: bold; }
[class^="mo-"] .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: red;
  border: none;
  border-bottom: 4px solid #000;
  line-height: 1;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 40px;
  display: inline-block;
  position: relative;
  text-decoration: none; }
  [class^="mo-"] .btn:hover {
    text-decoration: none;
    background: #333;
    border-bottom: 4px solid #333;
    color: #fff; }
  [class^="mo-"] .btn:active {
    background: #333;
    border-bottom: 4px solid #333;
    color: #fff; }
  [class^="mo-"] .btn:focus {
    outline: none; }
  [class^="mo-"] .btn.tsr-btn-small {
    padding: 12px 30px; }
  [class^="mo-"] .btn.tsr-btn-large {
    font-size: 15px;
    padding: 18px 40px; }
  [class^="mo-"] .btn.tsr-btn-100 {
    display: block;
    text-align: center; }
  [class^="mo-"] .btn.tsr-btn-purple {
    background: #777;
    border-bottom: 4px solid #777; }
    [class^="mo-"] .btn.tsr-btn-purple:hover {
      background: #555;
      border-bottom: 4px solid #777; }
    [class^="mo-"] .btn.tsr-btn-purple:active {
      background: #777;
      border-bottom: 4px solid #777; }
  [class^="mo-"] .btn.-disabled, [class^="mo-"] .btn:disabled {
    background: #a4a5a6;
    border-bottom: 4px solid #959595;
    color: rgba(255, 255, 255, 0.8);
    cursor: default; }
    [class^="mo-"] .btn.-disabled:hover, [class^="mo-"] .btn:disabled:hover {
      background: #a4a5a6;
      border-bottom: 4px solid #959595;
      color: rgba(255, 255, 255, 0.8);
      cursor: default; }
  .touch [class^="mo-"] .btn {
    text-decoration: none; }
    .touch [class^="mo-"] .btn:hover, .touch [class^="mo-"] .btn:focus {
      text-decoration: none; }
    .touch [class^="mo-"] .btn:active {
      text-decoration: none; }
