/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
TEMPLATE
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - MOBILE AND TOUCH FIRST
// - - HOVER?
// - MOBILE WIDE
// - PHABLET
// - TABLET
// - LAPTOP
// - TV
//
// - - MS Internet explorer
// - - NO JavaScript
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// CLASS NAME
$classNameS: eon-s-teasersA;


.#{$classNameS}{

////////////////////////////////////////////////////////////////
// SECTION
////////////////////////////////////////////////////////////////

@include mobileAndTouch-first {
	
	background:#fff; 
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:0;
		
} // touch-mobile-first END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// END

} // SECTION END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// CLASS NAME
$className: eon-m-teasersA;


.#{$className}{

////////////////////////////////////////////////////////////////
// MOBILE AND TOUCH FIRST
////////////////////////////////////////////////////////////////

@include mobileAndTouch-first {
	

//////// Base styles
	 position:relative; 
	 display:block;
	 background:#eee;
	 text-align:center;
	 color:#333;
	 text-decoration: none;



//////// Bottom border
			&:after{
				content:'';
				display:block;
				width:100%;
				height:4px;
				background:#ccc;
				position:absolute;
				left:0;
				bottom:0px;
			}

//////// Hover
	
	&:hover{
		background:#ddd;
		color:#333;
		text-decoration:none;
			
			&:after{
				background:#000;
			}

	}


//////// Image

	figure{

	} 

	img{
		width:100%;
		max-width:100%;
		height:auto;	
	}


//////// Text

	header{
		font-size:22px;
		line-height:1.256;
		padding:12px 22px;
		color:#fff;
	} 

	p{
		padding: 0 22px 30px;
		margin:0;
	}

} // touch-mobile-first END


// Place in bottom, hover in specific breakpoints??
////////////////////////////©////////////////////////////////////
// NO-TOUCH
////////////////////////////////////////////////////////////////

@include hover {
	
	
		.hover &{
			
				a:hover{
					include: hover;
				}

		}

	
} // hover END


////////////////////////////////////////////////////////////////
// MOBILE WIDE
////////////////////////////////////////////////////////////////

@include mobileWide {
	
	@include media-min($bp-mobileWide) {

		width:455px;
		margin:0 auto;
	
	} // media-min END
	
} // mobileWide END


////////////////////////////////////////////////////////////////
// PHABLET
////////////////////////////////////////////////////////////////

@include phablet {
	
	@include media-min($bp-phablet) {


	
	} // media-min END	
	
} // phablet END


////////////////////////////////////////////////////////////////
// TABLET
////////////////////////////////////////////////////////////////

@include tablet {
	
	@include media-min($bp-tablet) {

   		border-right:2px solid #fff;
    	border-left:2px solid #fff;
		width:33.3%;
		float:left;

		p{
			padding-bottom:50px;
		}


		&:first-child{
			&:before{
				content:'';
				display:block;
				width:2px;
				height:100%;
				background:#fff;
				position:absolute;
				top:0;
				left:-4px;
			}
		}

		&:last-child{
			&:before{
				content:'';
				display:block;
				width:2px;
				height:100%;
				background:#fff;
				position:absolute;
				top:0;
				right:-4px;
			}
		}
	
	} // min media-min END	
	
} // tablet END


////////////////////////////////////////////////////////////////
// LAPTOP
////////////////////////////////////////////////////////////////

@include laptop {
	
	@include media-min($bp-laptop) {


	
	} // min media-min END	

} // laptop END




////////////////////////////////////////////////////////////////
// TV
////////////////////////////////////////////////////////////////

@include tv {
	
	@include media-min($bp-tv) {


	
	} // min media-min END	

} // tv END


////////////////////////////////////////////////////////////////
// MSIE - INTERNET EXPLORER
////////////////////////////////////////////////////////////////

@include msie {
	
	


	
} // msie END


////////////////////////////////////////////////////////////////
// NO-JAVASCRIPT
////////////////////////////////////////////////////////////////

@include no-js {
	
		.no-js &{
			
		}

} // no-js END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// END

} // END














