/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
EON Teaser C
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - SECTION
//
// - MODULE
// - - Base
// - - Icons
// - - Text
// - - RWD 
// - - Internet explorer (fallback) 
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////////////////////////////////////////////////////
// SECTION 
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// Module class name
$section: eon-s-teaserC;

.#{$section}{


@include VP320 {
	
	
//////// Base styles 
	background:$turq-2;
	padding:0;
		
	
} // VP320 END


/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// SECTION END

} // section END



/////////////////////////////////////////////////////////////////////////////////////////////////////////
// MODULE
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// Module class name
$module: eon-m-teaserC;

.#{$module}{



////////////////////////////////////////////////////////////////
// VP320 - MOBILE AND TOUCH FIRST
////////////////////////////////////////////////////////////////

@include VP320 {
	

//////// Base styles 
	 position:relative;
	 display:block;
	 color:$white;
	 //border-bottom:1px solid $purple-t;
	 padding:15px 15px 19px 50px;
	 font-family:$font-1;


//////// Icon
	
	&:before{
		font-family: 'eon-icons-all';
		font-size:32px;
		display:block;
		position:absolute;
		top:50%;
		left:6px;
		margin-top:-20px;

	}




//////// COLORS
@include transition(background, .35s, ease, 0s);

	&:nth-child(1){
		background:lighten($turq-2, 2%);
	}

	&:nth-child(2){
		background:lighten($turq-2, 4%);
	}

	&:nth-child(3){
		background:lighten($turq-2, 6%);
	}

	&:nth-child(4){
		background:lighten($turq-2, 8%);
	}

	&:nth-child(5){
		background:lighten($turq-2, 10%);
	}

//////// Hover
	
	&:hover{
		background:$turq-2;
		color:$white;		
		text-decoration:none;
		position:relative;
	}

//////// Text

	header{
		font-size:17px;
		font-weight:bold;
		line-height:1.4;
	} 

	p{
		display:none;	
	}


//////// Touch 

	.touch & {		
		
		&:active,
		&:hover,
		&:focus{
			background:$turq-3;
			color:$white;	

			&:before{
				opacity:0.7;
			}

		} 

	} // .touch END	
		
	
} // VP320 END





////////////////////////////////////////////////////////////////
// VP480
////////////////////////////////////////////////////////////////

@include VP480 {
	
	@include media-min($bp-480) {
		width:50%;
		float:left;
		text-align:center;
		padding:30px 15px 30px;
		//border-right:1px solid $purple-t;

		.count-3 &{
			width:33%;
		}

		.count-2 &{
			width:50%;
		}
	
		&:hover{

				// Bottom border
				/*&:after{
					content:'';
					display:block;
					width:100%;
					height:4px;
					background:$purple-c;
					position:absolute;
					left:0;
					bottom:0px;
				} */

				&:before{
					opacity:0.7;
				}

		}


		&:last-child{
			border-right:none;
		}

		&:before{
			font-size:46px;
			display:block;
			position:static;
			margin:0;
			padding:26px 0 40px;
			width:100%;
			text-align:center;
		}

		p{
			display:block;	
		}

		.size-small & {
			
			padding:15px 15px 20px;
			&:before{
				padding:16px 0 20px;
				font-size:38px;
			}

			p{
				display:none;
			}
		}

	} // media-min END	

} // VP480 END


////////////////////////////////////////////////////////////////
// VP768
////////////////////////////////////////////////////////////////

@include VP768 {
	
	@include media-min($bp-768) {
	
		width:25%;
		padding:34px 20px 34px;

		&:before{
			font-size:56px;
			padding:26px 0 38px;
		}

		header {
			padding-bottom:8px;
		}

	} // media-min END		

} // VP768 END


////////////////////////////////////////////////////////////////
// MSIE - INTERNET EXPLORER
////////////////////////////////////////////////////////////////

@include msie {
	


		.ie &{

		}

		.ie8 &{

		}

		.ie9 &{

		}

	
} // msie END


////////////////////////////////////////////////////////////////
// NO-JAVASCRIPT
////////////////////////////////////////////////////////////////

@include no-js {
	
		.no-js &{

		}

} // no-js END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// MODULE END

} // Module END










