// VARIABLES and MIXINS for handling css compiling
@import "../../__common-sass/_breakpoint-mixins.scss";

// Set the breakpoint to true that you want to imoprt 
$FMRW:      true; 
$VP320: 	true;
$VP480: 	true;
$VP768: 	true;
$VP1024: 	true;
$VP1366: 	true;

$msie: true;

/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* VP 320+480+768+1024+1366 */ 
/////////////////////////////////////////////////////////////////////////////////////////////////////////

// Removing media-queries for old IE and other browsers not supporting MQ.
$fix-mqs: $bp-1024;

@import '_core-rw';

