/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
TEMPLATE
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - MOBILE AND TOUCH FIRST
// - - HOVER?
// - MOBILE WIDE
// - PHABLET
// - TABLET
// - LAPTOP
// - TV
//
// - - MS Internet explorer
// - - NO JavaScript
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// CLASS NAME
$className: eon-s-loginTeaser;


.#{$className}{

////////////////////////////////////////////////////////////////
// VP320 - MOBILE AND TOUCH FIRST
////////////////////////////////////////////////////////////////

@include VP320 {
margin-bottom:20px;	
	.eon-m-loginTeaser{
		height: 220px;
		text-align: center;
		color:#fff;
		width:100%;


		&.bg-1{
			background:url("../images/bg-1.jpg") center center no-repeat;
		}

		
		&.bg-2{
			background:url("../images/bg-2.jpg") center center no-repeat;
		}


		h4{
			font-size: 22px;
			font-style: italic;
			font-family: $font-4;
			line-height:1;
			padding:20px 0 12px;
			margin:0;	
		}

		h3{
			font-size: 50px;
			font-family: $font-4;
			line-height:1;
			margin:0 0 12px;
		}

		span{
			&:before{
				font-size: 44px;
			}
		}

	}	
		
} // VP320 END


// Place in bottom, hover in specific breakpoints??
////////////////////////////////////////////////////////////////
// NO-TOUCH
////////////////////////////////////////////////////////////////

@include hover {
	
	
		.hover &{
			
				a:hover{
					include: hover;
				}

		}

	
} // hover END


////////////////////////////////////////////////////////////////
// VP480
////////////////////////////////////////////////////////////////

@include VP480 {
	
	@include media-min($bp-480) {
		include: VP480;

	} // media-min END	

} // VP480 END




////////////////////////////////////////////////////////////////
// VP768
////////////////////////////////////////////////////////////////

@include VP768 {
	
	@include media-min($bp-768) {
	
margin-bottom:30px;

		.eon-m-loginTeaser{
			height: 440px;
			width:50%;
			float: left;

			h4{
				padding:120px 0 12px;
			}

		}

	} // media-min END		

} // VP768 END


////////////////////////////////////////////////////////////////
// VP1024
////////////////////////////////////////////////////////////////

@include VP1024{
	
	@include media-min($bp-1024) {
	
		margin-bottom:40px;

	} // media-min END	
	
} // VP1024 END


////////////////////////////////////////////////////////////////
// VP1366
////////////////////////////////////////////////////////////////

@include VP1366 {
	
	@include media-min($bp-1366) {
	
		include: VP1366;

	} // media-min END	
	
} // VP1366 END




////////////////////////////////////////////////////////////////
// MSIE - INTERNET EXPLORER
////////////////////////////////////////////////////////////////

@include msie {
	
	
		include: msie;

		.ie &{
			msie: ie;
		}

		.ie8 &{
			msie: eight;
		}

		.ie9 &{
			msie: nine;
		}

	
} // msie END


////////////////////////////////////////////////////////////////
// NO-JAVASCRIPT
////////////////////////////////////////////////////////////////

@include no-js {
	
	.no-js &{
		include: no-js;
	}

} // no-js END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// END

} // END














