// VARIABLES and MIXINS for handling css compiling
@import "../../__common-sass/_breakpoint-mixins.scss";

// Set the breakpoint to true that you want to imoprt 
$FMRW: true;
$VP1920: true;
$VP1700: true;
$VP1680: true;
$VP1440: true;
$VP1366: true;
$VP1280: true;
$VP1024: true;


/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* Big */ 
/////////////////////////////////////////////////////////////////////////////////////////////////////////

@import '_core-rw';