// VARIABLES and MIXINS for handling css compiling
@import "_sass/_breakpoint-mixins.scss";

// Set the breakpoint to true that you want to imoprt 
$FMMW: true;
$VP768: true;
$VP750: true;
$VP700: true;
$VP600: true;
$VP480: true;
$VP320: true;


/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* Small */ 
/////////////////////////////////////////////////////////////////////////////////////////////////////////

@import '_core';