/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
EON Teaser B
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - MOBILE AND TOUCH FIRST
// - - HOVER?
// - MOBILE WIDE
// - PHABLET
// - TABLET
// - LAPTOP
// - TV
//
// - - MS Internet explorer
// - - NO JavaScript
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// CLASS NAME
$classNameS: eon-s-teaserB;


.#{$classNameS}{

////////////////////////////////////////////////////////////////
// SECTION
////////////////////////////////////////////////////////////////

@include VP320{
	
//////// Base styles
	background:#f3f3f3; 

//////// Colors
	&.color-white{
		background:#fff; 
	}

//////// No text (Image only)
	&.no-text{
		.text{
			display:none;
		}
	}


} // VP320 END


@include VP480{
	
	@include media-min($bp-480) {

//////// No text (Image only)
		&.no-text{
			a{
				border-top:none;
				border-bottom:none;
				border-left:2px solid #f3f3f3;
				border-right:2px solid #f3f3f3;	
			}

		}
	 	
	
	} // media-min END




} // VP480 END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// END

} // SECTION END


/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// CLASS NAME
$className: eon-m-teaserB;


.#{$className}{

////////////////////////////////////////////////////////////////
// VP320 - MOBILE AND TOUCH FIRST
////////////////////////////////////////////////////////////////

@include VP320 {
	
//////// Base styles
	 position:relative; 
	 display:block;
	 background:#fff;
	 text-align:left;
	 color:#333;
	 text-decoration:none;


//////// Hover
	
	&:hover{
		background:#fff;
		color:#333;
		text-decoration:none;
			
	}


//////// Image



	figure{} 

	img{
		width:100%;
		max-width:100%;
		height:auto;
		display: block;	
	}


//////// Text

	.text{

		padding:30px 20px;
		position:relative;

		&:before{
			content:"";
			display:block;
			background:#fff;
			height: 18px;
			width: 18px;
			position:absolute;
			top:-8px;
			@include rotate(45);
		}

		header{
			font-size:20px;
			line-height:1.256;
			padding:0;
			color:$turq-2
		} 

		p{
			font-size:20px;
			line-height:1.256;
			padding: 0;
			margin:0;
			color:#666;
		}

	}





} // VP320 END


// Place in bottom, hover in specific breakpoints??
////////////////////////////©////////////////////////////////////
// NO-TOUCH
////////////////////////////////////////////////////////////////

@include hover {
	
	
		.hover &{
			
				a:hover{
					include: hover;
				}

		}

	
} // hover END


////////////////////////////////////////////////////////////////
// VP480
////////////////////////////////////////////////////////////////

@include VP480 {
	
	@include media-min($bp-480) {

    	width:50%;
		float:left;
		margin:0;
	 	border:1px solid #f3f3f3;
	
	} // media-min END
	
} // VP480 END


////////////////////////////////////////////////////////////////
// VP768
////////////////////////////////////////////////////////////////

@include VP768 {
	
	@include media-min($bp-768) {

		.count-6 &{
			width:33.3%;
		}

		.count-5 &{
			width:33.3%;
		}

		.count-4 &{
			width:50%;
		}

		.count-3 &{
			width:33.3%;
		}

		.count-2 &{
			width:50%;
		}

		p{
			padding-bottom:50px;
		}
	
	} // media-min END	
	
} // VP768 END


////////////////////////////////////////////////////////////////
// VP1024
////////////////////////////////////////////////////////////////

@include VP1024 {
	
	@include media-min($bp-1024) {
	

		.count-6 &{
			width:33.3%;
		}

		.count-5 &{
			width:20%;
		}

		.count-4 &{
			width:25%;
		}
	
	} // min media-min END	
	
} // VP1024 END





////////////////////////////////////////////////////////////////
// MSIE - INTERNET EXPLORER
////////////////////////////////////////////////////////////////

@include msie {
	
		.ie &{
			
		}

		.ie8 &{
			
		}

		.ie9 &{
			
		}

	
} // msie END


////////////////////////////////////////////////////////////////
// NO-JAVASCRIPT
////////////////////////////////////////////////////////////////

@include no-js {
	
		.no-js &{
			
		}

} // no-js END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// END

} // END














