/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
TEMPLATE
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - MOBILE AND TOUCH FIRST
// - - HOVER?
// - MOBILE WIDE
// - PHABLET
// - TABLET
// - LAPTOP
// - TV
//
// - - MS Internet explorer
// - - NO JavaScript
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// CLASS NAME
$className: mq-viewport-template;


.#{$className}{

////////////////////////////////////////////////////////////////
// VP320 - MOBILE AND TOUCH FIRST
////////////////////////////////////////////////////////////////

@include VP320 {
		
		include: VP320;

		&.-color-red{
			color:red;
		}
		
		&.-width-1-1{
			width:100%;	
		}

} // VP320 END


// Place in bottom, hover in specific breakpoints??
////////////////////////////////////////////////////////////////
// NO-TOUCH
////////////////////////////////////////////////////////////////

@include hover {
	
	
		.hover &{
			
				a:hover{
					include: hover;
				}

		}

	
} // hover END


////////////////////////////////////////////////////////////////
// VP480
////////////////////////////////////////////////////////////////

@include VP480 {
	
	@include media-min($bp-480) {
		include: VP480;

	} // media-min END	

} // VP480 END


////////////////////////////////////////////////////////////////
// VP600
////////////////////////////////////////////////////////////////

@include VP600 {
	
	@include media-min($bp-600) {

		include: VP600;

	} // media-min END	
	
} // VP600 END


////////////////////////////////////////////////////////////////
// VP768
////////////////////////////////////////////////////////////////

@include VP768 {
	
	@include media-min($bp-768) {
	
		include: VP768;

	} // media-min END		

} // VP768 END


////////////////////////////////////////////////////////////////
// VP1024
////////////////////////////////////////////////////////////////

@include VP1024{
	
	@include media-min($bp-1024) {
	
		include: VP1024;

	} // media-min END	
	
} // VP1024 END


////////////////////////////////////////////////////////////////
// VP1366
////////////////////////////////////////////////////////////////

@include VP1366 {
	
	@include media-min($bp-1366) {
	
		include: VP1366;

	} // media-min END	
	
} // VP1366 END




////////////////////////////////////////////////////////////////
// MSIE - INTERNET EXPLORER
////////////////////////////////////////////////////////////////

@include msie {
	
	
		include: msie;

		.ie &{
			msie: ie;
		}

		.ie8 &{
			msie: eight;
		}

		.ie9 &{
			msie: nine;
		}

	
} // msie END


////////////////////////////////////////////////////////////////
// NO-JAVASCRIPT
////////////////////////////////////////////////////////////////

@include no-js {
	
	.no-js &{
		include: no-js;
	}

} // no-js END

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// END

} // END














