/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
TYPOGRAPHY
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - - Base
// - - Headings
// - - Preamble
// - - Body text
// - - Lists
// - - Quotes
//
//
// - - RWD 
//
// - - MS Internet explorer
// - - NO JavaScript
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////


// (i) -> Scoped so only everything inside prefix will inherit
// (i) -> "$prefix" is inherited from -> src/core/_sass/_variables.scss 


[class ^= "#{$prefix}"]{

////////////////////////////////////////////////////////////////
// VP320 - MOBILE AND TOUCH FIRST
////////////////////////////////////////////////////////////////


@include VP320 {
		


///////// BASE TYPOGRAPHY

	// KI --> html& body will never be in scope. no prefix tags on them!

	
		font-size: 14px;

		font-family: $font-b;
		//font-size: 1em;
		line-height: 1.56; // 28/18 - Unitless for proper inheritance
		color: $black;
		-webkit-font-smoothing: subpixel-antialiased;
	



///////// HEADINGS

	h1,h2,h3,h4,h5,h6 	{margin:0 0 0.65em; color:$black;word-break: break-word}
	h1,h2,h3 			{font-family:$font-a;  text-transform:uppercase; }
	h4,h5,h6 			{font-family:$font-b; text-transform:none; font-weight:bold;}

	h1 					{font-size:5em; line-height:1.1;}
	h2 					{font-size:3.33em; line-height:1.1667;}
	h3 					{font-size:1.667em; line-height:1.1667;}
	h4 					{font-size:1em; line-height:1.22;}
	h5 					{font-size:0.88em; line-height:1.22;}
	h6 					{font-size:0.7778em; line-height:1.22;}



///////// PREAMBLE

	.preamble{
		font-family: $font-b;
		color:red;
		font-size: 1.38889em;
		line-height: 1.4; // 35/25 
	}



///////// BODY TEXT

	p {
		font-size: 1em;
		line-height: 1.56;
		margin: 0 0 1.5em
	}

	p + p {
		
	}

	i, em {
		font-style: italic;
	}


	strong {
		font-weight: bold;
	}



///////// LISTS





///////// QUOTES

	blockquote{
		margin:0 0 1.3em;
		padding:0 0 0 1.3em;
		position:relative;
		font-family: $font-a;
		line-height: 1.256;
		text-transform: uppercase;
		font-size:1.667rem; 

		&:before{
			content: ' ';
			position:absolute;
			top:1px;
			left:0;
			width:8px;
			background:$int-blue;
			height: 98%;

		}

	}




} // VP320 END





////////////////////////////////////////////////////////////////
// VP480
////////////////////////////////////////////////////////////////

@include VP480 {
	

} // VP480 END



////////////////////////////////////////////////////////////////
// VP600
////////////////////////////////////////////////////////////////

@include VP600 {
	
		font-size: 16px;
	
} // VP600 END



////////////////////////////////////////////////////////////////
// VP768
////////////////////////////////////////////////////////////////

@include VP768 {
font-size: 18px;
	
} // VP768 END



////////////////////////////////////////////////////////////////
// VP1024
////////////////////////////////////////////////////////////////

@include VP1024{
	font-size: 20px;
		
} // VP1024 END



////////////////////////////////////////////////////////////////
// VP1280
////////////////////////////////////////////////////////////////

@include VP1280 {


} // VP1280 END



////////////////////////////////////////////////////////////////
// VP1440
////////////////////////////////////////////////////////////////

@include VP1440 {
	

		


} // VP1440 END



////////////////////////////////////////////////////////////////
// VP1700
////////////////////////////////////////////////////////////////

@include VP1700 {
	

		


} // VP1700 END



////////////////////////////////////////////////////////////////
// VP1920
////////////////////////////////////////////////////////////////

@include VP1920 {
	
	
} // VP1920 END



////////////////////////////////////////////////////////////////
// MSIE - INTERNET EXPLORER
////////////////////////////////////////////////////////////////

@include msie {

		.msie-8 &{
			
		}

		.msie-9 &{
			
		}

} // msie END






/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// END



} // END

















