
/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
BUTTONS & LINKS
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - - Links
// - - Buttons
//
//
// - - RWD
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Links
/////////////////////////////////////////////////////////////////////////////////////////////////////////

	a {
		
	color:$link;
	text-decoration:none;
	position:relative;
	outline: none!important; 

		&:link{
			
		} 

		&:hover{
			text-decoration:underline;
			color:$link-hover;
		} 

		&:visited{
			
		} 

		&:active{
			color:$link-click;
		} 

		&:focus{
			color:$link-click;	
		} 

		&.-video{
			display: inline-block;
			&:before {
				content: "\e66c";
				position: relative;
				top: 3px;
				font-size: 22px;
			}
		}

		&.-pdf{
			display: inline-block;
			&:before {
				content: "\e640";
				
				position: relative;
				top: 3px;
				font-size: 22px;
			}
		}

	} // a END



/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Buttons 
/////////////////////////////////////////////////////////////////////////////////////////////////////////



//////// Button - Base

	.btn {
		@include border-radius(4px);
		background:$turq-3;
		border:none; // Needed for input
		line-height:1;
		color:#fff;
		font-size:13px;
		font-weight:bold;
		padding:12px 40px;
		display:inline-block;
		position:relative;
		
		&:hover{
			text-decoration:none;
			background:$turq-2;
			color:#fff;
		} 

		&:visited{
			
		} 

		&:active{
			background:$turq-4;
			color:#fff;
		} 

		&:focus{
			outline:none;
		}

		// Sizes
		&.-size-small{
			padding:12px 30px;
		}

		&.-size-large{
			font-size:15px;
			padding:18px 40px;
		}


		// 100% width
		&.-size-100 { 
			display:block;
			text-align:center;
		}		 


		// Purple
		&.-color-purple { 
			background:$purple-c;
			border-bottom:4px solid $purple-t;

			&:hover{
				background:$purple-h;
				border-bottom:4px solid $purple-c;
			} 

			&:visited{
				
			} 

			&:active{
				background:$purple-t;
				border-bottom:4px solid $purple-t;	
			} 

			&:focus{

			}
			
		}

		// Pink
		&.-color-pink { 
			background:$pink-c;
			border-bottom:4px solid $pink-t;

			&:hover{
				background:$pink-h;
				border-bottom:4px solid $pink-c;
			} 

			&:visited{
				
			} 

			&:active{
				background:$pink-t;
				border-bottom:4px solid $pink-t;	
			} 

			&:focus{

			}
			
		}

		// Blue
		&.-color-blue { 
			background:$blue-c;
			border-bottom:4px solid $blue-t;

			&:hover{
				background:$blue-h;
				border-bottom:4px solid $blue-c;
			} 

			&:visited{
				
			} 

			&:active{
				background:$blue-t;
				border-bottom:4px solid $blue-t;	
			} 

			&:focus{

			}
			
		}

		// Orange
		&.-color-orange { 
			background:$orange-c;
			border-bottom:4px solid $orange-t;

			&:hover{
				background:$orange-h;
				border-bottom:4px solid $orange-c;
			} 

			&:visited{
				
			} 

			&:active{
				background:$orange-t;
				border-bottom:4px solid $orange-t;	
			} 

			&:focus{

			}
			
		}	

		// Disabled
		&.-disabled, 
		&:disabled{
			background:#a4a5a6;
			color:rgba(255,255,255,.8);
			cursor:default;

			&:hover{
				background:#a4a5a6;
				color:rgba(255,255,255,.8);
				cursor:default;
			}

		}

	    // Touch normalize (Hover + focus, Active, )
		.touch & {
			
			text-decoration:none;

				&:hover,
				&:focus{
					text-decoration:none;
				} 

				&:active{
					text-decoration:none;
				} 

		} // .touch END	

	} // .bth-v1 END










