
/////////////////////////////////////////////////////////////////////////

//
// SASS -> Mixins & Placeholders
//

/////////////////////////////////////////////////////////////////////////
// Table of contents 
/////////////////////////////////////////////////////////////////////////
//
//
// - - BORDER RADIUS
// - - GRADIENT
// - - TRANSITION
// - - RETINA SPRITE BACKGROUND IMAGE
// - - ROTATE
// - - CLEARFIX
//
// 
/////////////////////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////////////////////
// BORDER RADIUS
// -> @include border-radius(4px);
// -> @include border-radius-left(4px);
// -> @include border-radius-right(4px);
// -> @include border-radius-bottom(4px);

/////////////////////////////////////////////////////////////////////////

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-right($radius) {
  -webkit-border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-radius-left($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius-bottom($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius-top($radius) {
  -webkit-border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

/////////////////////////////////////////////////////////////////////////
// GRADIENT
// @include background-gradient(#fff,#eee);
/////////////////////////////////////////////////////////////////////////

@mixin background-gradient($color1,$color2){
  background: $color1; 
  background:        -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
  background: -webkit-linear-gradient(top, $color1, $color2); 
  background:     -ms-linear-gradient(top, $color1, $color2);
  background:         linear-gradient($color1, $color2);  
}


/////////////////////////////////////////////////////////////////////////
// TRANSITION
// @include transition(width, 0.4s, ease-out, 0s)
/////////////////////////////////////////////////////////////////////////

@mixin transition($property, $duration:0.3s, $function: ease, $delay: 0s){
   -webkit-transition: $property $duration $function $delay;   
   -ms-transition: $property $duration $function $delay; 
    transition: $property $duration $function $delay; 
}


/////////////////////////////////////////////////////////////////////////
// RETINA SPRITE BACKGROUND IMAGE
// @include background-sprite-retina('#{$imagepath-shared}sprite-menu', 'png', repeat-y, 700px, 35px, left, top); 
///////////////////////////////////////////////////////////////////////// 

@mixin background-sprite-retina($file, $type, $repeat, $width, $height, $left, $top) {
  background: url($file + '.' + $type) $repeat transparent $left $top;
 
 @media only screen and  (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
    & {
      background: url($file + '@2x.' + $type) $repeat transparent $left $top;
      background-size: $width $height;
    }
   }

}

/////////////////////////////////////////////////////////////////////////
// Box-shadow
// @include box-shadow($top, $left, $blur, $color, $inset: false);
/////////////////////////////////////////////////////////////////////////

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

/////////////////////////////////////////////////////////////////////////
// ROTATE
// @include rotate(90);
/////////////////////////////////////////////////////////////////////////

@mixin rotate($deg) {  
  -webkit-transform: rotate(#{$deg}deg);
  -ms-transform: rotate(#{$deg}deg);
  transform: rotate(#{$deg}deg);
}

/////////////////////////////////////////////////////////////////////////
// Box sizing
// @include box-sizing;
/////////////////////////////////////////////////////////////////////////

@mixin box-sizing ($value: border-box) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}


/////////////////////////////////////////////////////////////////////////
// CLEARFIX
// @include clearfix;
/////////////////////////////////////////////////////////////////////////

@mixin clearfix{
   zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}





/////////////////////////////////////////////////////////
// COMPABILITY -> Mixins
/////////////////////////////////////////////////////////


	// Training
	@mixin bg-fake-stretch($color: #000) {
			background:$color;	
			&.-bg-fake-stretch{
				&:before,
				&:after{
					background:$color;
				}
			}

	}






// OLD



// ******************************************************
// _mixins.scss - SHARED
// ******************************************************
//
// - Link-arrow
// - Border-radius
// - background-retina-sprite
//
// ******************************************************

// ---------------------------------------------------
// Extensions (maybe these should be in another file?)
// ---------------------------------------------------



// Time
%timeunit {
	font-size: 10px;
	color: #818181;
	text-transform: uppercase;
}



// ---------------------------------------------------
// Mixins
// ---------------------------------------------------


// ****************************
// Scaffold defaults
// ****************************

$scaffold-width: 960px /*!global*/;
$scaffold-padding: 10px /*!global*/;
$column-count: 4 /*!global*/;
$column-padding: 20px /*!global*/;


// Used for text rendering bug in webkit browsers...
@mixin force-3d-acceleration {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
//@include force-3d-acceleration;
//use whith css3 transitions...


// Link arrow
@mixin linkarrow($color) {
	position: relative;
	padding-right: 15px;

	&:after {
		content: '';
		display: inline-block;
		width: 8px;
		margin:0 0 0 8px;
		right: 0;
		height: 5px;
		background: url('#{$imagepath-shared}linkarrow_#{$color}.png');
	}
}

// Box sizing
// @include box-sizing;
@mixin box-sizing ($value: border-box) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}

// Border-radius 
// @include border-radius(4px);
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		-ms-border-radius: $radius;
		 -o-border-radius: $radius;
			border-radius: $radius;
}

// Gradient
// @include background-gradient(#fff,#eee);
@mixin background-gradient($color1,$color2){
	background: $color1; 
	background:        -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
	background: -webkit-linear-gradient(top, $color1, $color2); 
	background:    -moz-linear-gradient(top, $color1, $color2);
	background:     -ms-linear-gradient(top, $color1, $color2);
	background:      -o-linear-gradient(top, $color1, $color2);
	background:	        linear-gradient($color1, $color2);	
}

// Transition
// @include transition(height, 0.3, ease, 0.3s);
@mixin transition($property, $duration: 0.3s, $function: ease, $delay: 0s){
   -webkit-transition: $property $duration $function $delay;  
	  -moz-transition: $property $duration $function $delay; 
	   -ms-transition: $property $duration $function $delay; 
		-o-transition: $property $duration $function $delay; 
		   transition: $property $duration $function $delay; 
}

// Retina sprite background image
// @include background-sprite-retina('#{$imagepath-shared}sprite-menu', 'png', repeat-y, 700px, 35px, left, top);  
@mixin background-sprite-retina($file, $type, $repeat, $width, $height, $left, $top, $version:"") {
  background: url($file + '.' + $type + unquote($version)) $repeat transparent $left $top;
 
 @media only screen and (min--moz-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min-device-pixel-ratio: 2) {
		& {
			background: url($file + '@2x.' + $type + unquote($version)) $repeat transparent $left $top;
			background-size: $width $height;
		}
	}
}



// Placeholder text color
// -------------------------
@mixin placeholder-text-color ($color) {
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
	}
}
@mixin placeholder-text-transform ($transform) {
  &:-moz-placeholder {
    text-transform: $transform;
  }
  &::-moz-placeholder {
    text-transform: $transform;
  }
  &:-ms-input-placeholder {
    text-transform: $transform;
  }
  &::-webkit-input-placeholder {
    text-transform: $transform;
	}
}

@mixin placeholder-text-fadeOut {
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
	}
}




