

/////////////////////////////////////////////////////////////////////////

//
// Variables
//

/////////////////////////////////////////////////////////////////////////
// Table of contents 
/////////////////////////////////////////////////////////////////////////
//
//
// - - Colors
// - - Font familys
// - - Media queries
// - - Paths 
//
// 
/////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
// FRAMEWORK - CORE COLORS   
/////////////////////////////////////////////////////////////////////////

// !! DONT CHANGE THE VARIABLE NAME FOR "fm-main-x"
// All components / modules / sections is dependet on them!
// DO ->$main-1: $red-1!default;

// Framework core colors

$main-1: #0099ff;


// INTERACTION COLORS
$link:			#0183b3 !default;
$link-hover:	#0183b3 !default;
$link-click:	#0183b3 !default;
$link-disabled:	#cccccc !default;

$imagepath: "/Templates/Corporate/Images/"; 